@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;700&display=swap');

:root {
    --branco-font: #f0f8ff;
    --cinza-escuro: #4F4C4C;
    --background-cabecalho: #1e1e2a; 
    --background-main: #D6D6D6;
    --poppins: 'Poppins', sans-serif;  
}

body {
    color: var(--branco-font);
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.container__section {
    padding: 10px;
}