/* Cabeçalho */
.cabecalho {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--background-cabecalho);
}

.cabecalho__titulo {
    text-align: center;
    padding: 1.5rem 3rem;
    align-items: center;
    color: var(--branco-font);
}

.cabecalho .navbar {
    background-color: var(--background-cabecalho) !important;
    width: 100%;
    color: var(--branco-font) !important;
}

.nav-link {
    color: var(--branco-font) !important;
}

/* Perfil */
.principal {
    flex-direction: column;
    color: var(--cinza-escuro);
}

.nome__perfil {    
    padding: 3rem;
}


.nome__perfil h1 {
    font-weight: 700;
}

.desc__perfil {
    width: 71%;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.conteudo__perfil p {
    padding: .5rem;
}

.titulo__section {
    font-weight: 700;
    padding: 2rem 0 .5rem;
}

.container__img__perfil {
    width: 25rem;
    height: auto;
    float: right;
    margin-top: 0px;
}


.img__perfil {
    width: 100%;
    border-radius: 100%;
    padding: 2rem .5rem;
}

/*Contato*/

.img__icon {
    width: 30px;
}

.contato {
    width: 100%;
    font-weight: 700;
    padding: .5rem;
}

.conteudo__contato {
    padding: .25rem;
    box-sizing: border-box;
}

.contato a {
    color: var(--cinza-escuro);
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

.contato span  {
    padding: .5rem;
}

/*Skills*/
.desc__skill{
    font-size: 1rem;
    font-weight: 700;
    margin-right: .5rem;
    padding: .2rem;
}

.container__progresso {
    padding: 10px;
}

.barra__progresso {
    height: 1rem;
}

/*Footer*/

.rodape {
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: #1E1E2A;
}

@media screen and (max-width: 770px) {
    .principal {
        align-items: center;
    }
    .container__img__perfil {
        width: 250px;
        float: none;
        margin: .5rem auto;
    }

    .nome__perfil {
        margin: .5rem auto;
        text-align: center;
    }

    .desc__perfil {
        margin: .5rem auto;
        padding: 1rem;
        width: 100%;
    }

    .titulo__section {
        text-align: center;
        margin: .5rem auto;
    }
    
    
    .titulo__section {
        display: block;
        text-align: center;
    }
}











 
