body {
    font-size: 14px;
}

main {
    padding: 100px;
}

.titulo__form {
    height: 6.875rem;
    border: 1px solid;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

.titulo__form h1 {
    margin: auto auto;
}


form h5 {
    text-align: center;
}


fieldset {
    border: 1px solid #989898;
    border-radius: 10px; 
}


.botao__del {
    border-radius: 10px;
    margin-left: 10px;
}

.botao__svg {
    border: none;
}

.container__botao {
    width: 50px;
    display: flex;
}

.cabecalho__despesas {
    text-align: center;
}

.cabecalho__despesas button {
   justify-content: end;
    width: 100px;
}

.conteudo__despesas {
    text-align: center;
}


.conteudo__despesa input, select, option {
    border-radius: 10px !important;
    border: 1px solid #989898;
}

.total {
    padding: 2rem;
    display: flex;
    justify-content: end;
}

.total label {
    width: 10rem;
    font-size: 24px;
}

.total input {
    width: 10rem;
    border-radius: 10px;
}

.acoes {
    border: 1px solid #989898;
    border-radius: 10px;
}

.acoes button {
    margin: .5rem ;
    font-size: 1.5rem; 
    width: 13rem;
    padding: .5rem;
    border-radius: 10px;
}

.acoes h2 {
    margin: auto auto;
}

.texto__acao {
    margin: auto auto;
}

.botao__acao {
    border: 1px solid #989898;
    border-right: none;
    border-radius: 10px;
}

.rodape {
    margin-top: 3rem;
    padding: 1rem;
    background: var(--background);
    color: var(--cor-font) !important;
}

.rodape p {
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    main {
      width: 100%;
      padding: 1rem;
    }

    .row__despesas {
        display: block;
    }

    .acoes {
        display: block;
    }

    .botao__acao {
        border: none;
    }
  }