/* Cabeçalho */
.cabecalho {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--background);
    padding: 1rem;
}

.cabecalho__titulo {
    text-align: center;
    padding: 1.5rem 3rem;
    align-items: center;
    color: var(--branco-font);
}

.cabecalho .navbar {
    background: var(--background);
    width: 100%;
    color: var(--cor-font) !important;
}

.nav-link {
    color: var(--cor-font) !important;
}

/* Perfil */
.principal {
    flex-direction: column;
    color: var(--cor-font);
}

.nome__perfil {    
    padding: 3rem;
}


.nome__perfil h1 {
    font-weight: 700;
}

.desc__perfil {
    width: 71%;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.conteudo__perfil p {
    padding: .5rem;
}

.titulo__section {
    font-weight: 700;
    padding: 2rem 0 .5rem;
}

.container__img__perfil {
    width: 25rem;
    height: auto;
    float: right;
    margin-top: 0px;
}


.img__perfil {
    width: 100%;
    border-radius: 100%;
    border: 2px solid var(--botao-card-hover);
    padding: 2rem .5rem;
}

/*Contato*/

.img__icon {
    width: 30px;
}

.contato {
    width: 100%;
    font-weight: 700;
    padding: .5rem;
}

.conteudo__contato {
    padding: .25rem;
    box-sizing: border-box;
}

.contato a {
    color: var(--branco-font);
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

.contato span  {
    padding: .5rem;
}

/*Skills*/

.skills {
    align-items: center;
}

.skills h2 {
    text-align: center;
}
.desc__skill{
    font-size: 1rem;
    font-weight: 700;
    margin-right: .5rem;
    padding: .2rem;
}

.container__progresso {
    padding: 10px;
    margin: 0 auto;
}

.barra__progresso {
    height: 1rem;
}

/*Trabalhos em destaque*/
.conteudo__trabalho h2 {
    text-align: center;
}

.card {
    border-radius: 10px;
    background-image: linear-gradient(135deg, #726868 0, #6c5f5f 50%, #665656 100%);
    color: var(--cor-font);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.card:hover {
    top: -6px;
}

.botao {
    background-color: var(--background-botao-card);
    color: #2F2325;
    border-color: var(--botao-card-hover);
    border-radius: 10px;
}

.botao:hover {
    background-color: var(--botao-card-hover) !important;
    border-color: var(--botao-card-hover);
}

.card img {
    border-radius: 10px;
}




/*Footer*/

.rodape {
    margin-top: 3rem;
    padding: 1rem;
    background: var(--background);
    color: var(--cor-font);
}

.rodape p {
    margin-top: 1rem;
    text-align: center;
}


@media screen and (max-width: 770px) {
    .principal {
        align-items: center;
    }
    .container__img__perfil {
        width: 250px;
        float: none;
        margin: .5rem auto;
    }

    .nome__perfil {
        margin: .5rem auto;
        text-align: center;
    }

    .desc__perfil {
        margin: .5rem auto;
        padding: 1rem;
        width: 100%;
    }

    .titulo__section {
        text-align: center;
        margin: .5rem auto;
    }
    
    
    .titulo__section {
        display: block;
        text-align: center;
    }

    .card {
        margin: .5rem auto;
    }

}











 
